<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BIOSIM/src/com/traclabs/biosim/server/framework/BiosimServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.traclabs.biosim.server.framework.BiosimServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-xml=cdrs/cdrs.biosim"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BIOSIM"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DORBInitRef.NameService=corbaloc::localhost:16315/NameService&#10;-Dorg.omg.CORBA.ORBClass=org.jacorb.orb.ORB&#10;-Dorg.omg.CORBA.ORBSingletonClass=org.jacorb.orb.ORBSingleton"/>
</launchConfiguration>